/* CSS Variables */
:root {
    --dark: #333;
    --grey: #6e6e6e;
    --border-grey: #e1dcd3;
    --transparent-border: rgb(135 116 79 / 25%);
    --white: #fff;
    --cream: #f5f3e9;
    --light-brown: #87744f;
    --mid-brown: #825600;
    --dark-brown: #553801;
    --orange: #c55302;
    --dark-orange: #833701;
    --font--primary: 'Marcellus', serif;
    /* stylelint-disable */
    --font--secondary: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui,
      Roboto, 'Helvetica Neue', Arial, sans-serif, Apple Color Emoji,
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    /* stylelint-enable */
    --font-sm: 1rem;
    --font-md: 1.125rem;
}

body {
    background-color: #cccccc;
    font-family: var(--font--secondary);
}

/* h1 {
    background-color: #eeeeee;
    width: 100%;
    border-radius: 0.2em;
    clear:both;
} */

.container {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 1400px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

.galery-table {
    width: 100%;
    border-collapse: collapse;
}

.galery-table-title-row {
    font-size: 1.5em;
    background-color: #888888;
}

.galery-table-gallery-row {
    background-color: #aaaaaa;
}

.galery-table-cell-img {
    padding: 10px 10px 10px 10px;
}

.galery-table-cell-caption {
    padding: 10px 10px 10px 10px;
}

.galery-photo-table {
    width: 100%;
    border-collapse: collapse;
}

.galery-photo-row {
    background-color: #aaaaaa;
}

.table-cell-img {
    padding: 10px 10px 10px 10px;
}

.table-cell-caption {
    padding: 10px 10px 10px 10px;
}

a {
    color: var(--dark);
    /* font-family: monospace; */
}

.navigation-bottom {
    text-align: center;
}